<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>addstore</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container">
  <div class="card">
    <div class="row">
      <div class="col-md-6">
        <div class="card-header">Add a store</div>
        <div class="card-body">
          <form class="form" action="/add_store" method="post">
            {{form.hidden_tag()}}
            <p>
              {{form.name.label}}<br>
              {{form.name(size=32)}}
            </p>
            <p>
              {{form.location.label}}<br>
              {{form.location(size=32)}}
            </p>
            <p>{{form.submit()}}</p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>